<div class="container mt-4">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label>title</label>
      <input class="form-control" formControlName="Title">
    </div>

    <div class="mb-3">
      <label>author</label>
      <input class="form-control" formControlName="Author">
    </div>

    <div class="mb-3">
      <label>publishing Date</label>
      <input type="date"
             class="form-control"
             formControlName="PublishingDate">
    </div>

    <button class="btn btn-success" type="submit">Save</button>

  </form>

</div>
