.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3
}
router-outlet {
  display: block;
  margin-top: 60px;
}

@media (max-width: 766px) {
  .book-text {
    display: none !important;
  }
}
