<nav class="navbar">
  <div class="nav-container">

    <a class="logo" routerLink="/">Bokapp</a>

    <ul class="nav-links">
      <li>
        <a routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Boklista
        </a>
      </li>

      <li *ngIf="isLoggedIn">
        <a routerLink="/quote" routerLinkActive="active">
          Mina citat
        </a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active">
          Logga in
        </a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a routerLink="/register" routerLinkActive="active">
          Registrera
        </a>
      </li>

      <li *ngIf="isLoggedIn">
        <a class="nav-logout" (click)="logout()">
          Logga ut
        </a>
      </li>
    </ul>

  </div>
</nav>
