
<div class="container mt-4">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label>Användarnamn</label>
      <input class="form-control" formControlName="username">
      <div class="text-danger" *ngIf="form.get('username')?.errors?.['required'] && submitted">Användarnamn är obligatorisk.</div>
      <div class="text-danger" *ngIf="form.get('username')?.errors?.['maxlength']">Användarnamn måste vara kortare än 50 tecken.</div>
      <div class="text-danger" *ngIf="form.get('username')?.errors?.['minlength']">Användarnamn måste vara längre än 2 tecken.</div>
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" formControlName="email">
      <div class="text-danger" *ngIf="submitted && form.get('email')?.errors?.['required']">Email är obligatoriskt.</div>
      <div class="text-danger" *ngIf="submitted && form.get('email')?.errors?.['email']">Email är ogiltig.</div>
    </div>

    <div class="mb-3">
      <label>Lösenord</label>
      <input type="password" class="form-control" formControlName="password">
      <div class="text-danger" *ngIf="submitted && form.get('password')?.errors?.['required']">Lösenord är obligatoriskt.</div>
    </div>
    <button class="btn btn-success mt-3" type="submit">{{ loading ? 'Registrerar...' : 'Registrera' }}</button>
  </form>
</div>
